.nav-links{
    color: white;
    cursor: pointer;
    font-size: 16px;
     padding: 30px;
     font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25;
    letter-spacing: 0.02857em;
    
}
.nav-links:hover{
    color: rgba(240, 248, 255, 0.795);
}