.input-error {
  color: red;
}
.form {
  width: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.result {
  opacity: 0;
  margin: 0;
  padding: 0;
  color: red;
}
.avatar-male {
  background: cornflowerblue;
  object-fit: cover;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 250px;
}
a {
  color: white;
  text-decoration: none;
}
hr {
  color: rgba(0, 0, 0, 0.579);
  width: 100%;
}
.action-btn {
  padding: 10px 8px;
  border: 0.5px solid transparent;

  color: white;
  background-color: rgb(5, 183, 5);
  border-radius: 6px;
  width: 100px;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}
.avatar-profile {
  position: relative;
}
.avatar-input {
  position: absolute;
  width: 42%;
  height: 62%;
  left: 30%;
  top: 21%;
  opacity: 0;
  border-radius: 40px;
}
.avatar-profile:hover {
  opacity: 0.7;
    transition: 0.2s ease-in-out;
}
.edit {
  opacity: 0;
  position: absolute;
  top: 45%;
  right: 45%;
}
.avatar-profile:hover .edit {
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.action-btn:hover {
  background-color: green;
}
.warning {
  background-color: rgb(228, 153, 14);
}
.warning:hover {
  background-color: rgba(255, 166, 0, 0.759);
}
.btn-info {
  width: 110px;
  background-color: rgb(0, 183, 255);
}
.btn-info:hover {
  background-color: rgb(5, 132, 182);
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
